extends ../shared/template

block content
  h1= title
  h2=user.email

  form(method='POST', action='/buildings')
    input(type='text', name='name', placeholder='Enter Name')
    input(type='number', name='x', placeholder='Enter Start X Value')
    input(type='number', name='y', placeholder='Enter Start Y Value')
    select
      each location in locations
        option(value=location._id)= location.name
    button Create
